<html>
  <head>
    <title>Streaming</title>
  </head>
  <body>
    <nav class="light-blue darken-4">
      <div class="nav-wrapper">
        <h1>Pedestrian Detector</h1>
        <img src="{{ url_for('video_feed') }}" />
      </div>
    </nav>
  </body>
</html>

<!-- Compiled and minified CSS -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
